body{
    height: 100vh;
    background: rgb(146, 164, 175);
    display: flex;
    justify-content: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper {
    margin-top: 150px;
}
input{
    font-size: 20px;
    font-weight: 600;
    height: 40px;
    width: 250px;
    padding-left: 15px;
    background-color: silver;
    border: 4px solid rgb(68, 92, 92);
    transition: all .6s ease;
}
input:focus{
    height: 50px;
    width: 270px;
    border-radius: 10px;
    background-color: rgb(64, 126, 197);
    color: #f2f2f2;
}
input::placeholder{
    font-weight: 700;
    color: rgb(84, 85, 86);
}
input:focus::placeholder{
    color: rgb(214, 193, 193);
}
.rezalt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
p{
    font-size: 22px;
    font-weight: 600;
    color: rgb(17, 18, 17);
}
button{
    padding: 10px 15px;
    margin-left: 20px;
    border: 4px solid rgb(6, 77, 77);
    cursor: pointer;
    background-color: rgb(60, 129, 154);
    font-size: 22px;
    font-weight: 500;
    color: gold;
    border-radius: 15px;
    transition: all .5s ease;
}
button:hover{
    transform: scale(1.15);
    background-color: rgb(27, 125, 160);
}